<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.samuel.sds_kariyavilai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/sdslauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sdslauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDS_Kariyavilai"
        android:usesCleartextTraffic="true">
        <activity android:name=".MemberPrayerDetails"></activity>
        <activity android:name=".MemberPrayerRequest" />
        <activity android:name=".PrayerDetails" />
        <activity android:name=".EventDetails" />
        <activity android:name=".AddPrayerRequest" />
        <activity
            android:name=".PrayerRequest"
            android:label="Prayer Request" />
        <activity
            android:name=".UserEvents"
            android:label="Events" />
        <activity
            android:name=".Event"
            android:label="Event Manager" />
        <activity
            android:name=".AddEvent"
            android:label="Add Event" />
        <activity android:name=".Members" />
        <activity
            android:name=".Add_Member"
            android:label="Admin Settings" />
        <activity
            android:name=".AdminSettings"
            android:label="Admin Settings" />
        <activity
            android:name=".AdminDashBoard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".Event_Gallery" />
        <activity
            android:name=".Worshiptime"
            android:label="Worship Schedule" />
        <activity
            android:name=".Contacts"
            android:label="Contacts" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="User Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>