<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.samuel.sds_kariyavilai">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <queries>
        <package android:name="com.sdzshn3.onesignalapi" />
    </queries>

    <application
        android:name=".EventGallery.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/sdslauncher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/sdslauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SDS_Kariyavilai"
        android:usesCleartextTraffic="true">
        <activity android:name=".Helpsupport"></activity>
        <activity
            android:name=".Covid19.DistrictDataActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Covid19.StateDataActivity" />
        </activity>
        <activity
            android:name=".Covid19.StateDataActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Covid19.Covidindia" />
        </activity>
        <activity android:name=".Admin.Prayers_Category" />
        <activity android:name=".AboutSDS" />
        <activity android:name=".Offerings" />
        <activity android:name=".Admin.Add_Admin" />
        <activity android:name=".Admin.Admins" />
        <activity android:name=".Admin.AdminWish" />
        <activity
            android:name=".WishMe"
            android:label="Wish Me" />
        <activity android:name=".ChurchMembers.MemberPrayerDetails" />
        <activity android:name=".ChurchMembers.MemberPrayerRequest" />
        <activity android:name=".ChurchMembers.PrayerDetails" />
        <activity android:name=".Admin.EventDetails" />
        <activity android:name=".ChurchMembers.AddPrayerRequest" />
        <activity
            android:name=".ChurchMembers.PrayerRequest"
            android:label="Prayer Request" />
        <activity
            android:name=".ChurchMembers.UserEvents"
            android:label="Events" />
        <activity
            android:name=".Admin.Event"
            android:label="Event Manager" />
        <activity
            android:name=".Admin.AddEvent"
            android:label="Add Event" />
        <activity android:name=".Admin.Members" />
        <activity
            android:name=".Admin.Add_Member"
            android:label="Admin Settings" />
        <activity
            android:name=".Admin.AdminSettings"
            android:label="Admin Settings" />
        <activity
            android:name=".Admin.AdminDashBoard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Admin.AdminLogin" />
        <activity android:name=".EventGallery.Event_Gallery" />
        <activity
            android:name=".Covid19.Covidindia"
            android:label="COVID&apos;19" />
        <activity
            android:name=".Contacts"
            android:label="Contacts" />
        <activity
            android:name=".ChurchMembers.Dashboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="User Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />
    </application>

</manifest>